

{% extends 'base.html' %}
{% load static %}
{% block body %}
 <!-- Header Start -->
 {% load static %}
<div class="jumbotron jumbotron-fluid position-relative overlay-bottom video-jumbotron">
    <!-- Vidéo en background -->
    <video class="bg-video" autoplay muted loop>
        <source src="{% static 'video/video2.mp4' %}" type="video/mp4">
        Your browser does not support the video tag.
    </video>

    <!-- Contenu au-dessus de la vidéo -->
    <div class="container text-center my-5 py-5 content-overlay">
        <h1 class="text-white display-3 mb-5">Votre vision, notre mission digitale</h1>
        <h1 class="text-white mt-4 mb-4">Transformez votre entreprise avec des solutions technologiques sur-mesure</h1>
        <div class="mx-auto mb-5" style="width: 20%; max-width: 600px;">
            <a href="#services" class="btn text-light header-button d-none d-lg-block" style="border-radius: 25px ;">Nos offres</a>
        </div>
    </div>
</div>

<!-- Header End -->

<!-- About Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px;">
                <div class="position-relative h-100">

                    <img class="position-absolute w-100 h-100" src="{% static 'img/about.jpg' %}" style="object-fit: cover;">

                    <img class="position-absolute w-100 h-100" src="{% static 'img/apropos2.png' %}" style="object-fit: cover;">

                </div>
            </div>
            <div class="col-lg-7">
                <div class="section-title position-relative mb-4">
                    <h6 class="d-inline-block position-relative about-title text-uppercase pb-2">A propos</h6>
                    <h1 class="display-4">Qu'est-ce que MiabeInnovation ?</h1>
                </div>
                <p>MiabeInnovation est votre centre de solutions et innovations technologiques. Nous concevons et déployons des services digitaux adaptés à vos besoins, en combinant expertise, créativité et performance. Notre mission est de vous accompagner dans votre transformation numérique, en automatisant vos tâches, en développant des systèmes embarqués et en créant des outils sur mesure pour améliorer votre quotidien et celui de vos clients.
                </p>
                <div class="row pt-3 mx-0">
                    <a href="{% url 'qui_sommes_nous' %}" class="btn text-light about-button d-none d-lg-block mx-4 px-4" style="border-radius: 25px;">
                        En savoir plus <i class="fas fa-arrow-right"></i>
                    </a>
                    
                    <a href="{% url 'entree_contact' %}" class="btn text-light about-button d-none d-lg-block mx-4 px-4" style="border-radius: 25px;">
                        Nous contacter <i class="fas fa-phone"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->


<!-- Feature Start -->
<div class="container-fluid bg-image" style="margin: 90px 0;">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 my-5 pt-5 pb-lg-5">
                <div class="section-title position-relative mb-4">
                    <h6 class="d-inline-block position-relative nous-choisir-title text-uppercase pb-2">POURQUOI NOUS CHOISIR ?</h6>
                    <h1 class="display-4">Ce qui nous rend unique</h1>
                </div>
                <p class="mb-4 pb-2"></p>
                <div class="d-flex mb-3">
                    <div class="btn-icon mr-4  display-4">
                        <i class="fas  fa-phone-alt text-white"></i>
                    </div>
                    <div class="mt-n1">
                        <h4>Disponibilité
                        </h4>
                        <p>Notre support répond à vos appels 7j/7 sans interruption.</p>
                    </div>
                </div>
                <div class="d-flex mb-3">
                    <div class="btn-icon mr-4 display-4">
                        <i class="fa  fa-sliders-h text-white"></i>
                    </div>
                    <div class="mt-n1">
                        <h4>Flexibilité </h4>
                        <p>On s’adapte aux exigences et aux demandes de nos clients. Votre satisfaction est notre unique priorité.</p>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="btn-icon  mr-4 display-4">
                        <i class="fas fa-compress-arrows-alt text-white"></i>
                    </div>
                    <div class="mt-n1">
                        <h4>Solutions adéquates
                        </h4>
                        <p class="m-0">Nos solutions sont conçues de façon adaptée à vos soucis informatiques, nous nous efforçons d’être plus pertinent pour atteindre les objectifs de nos clients..</p>
                    </div>
                </div>

                <div class="d-flex">
                    <div class="btn-icon  mr-4 display-4">
                        <i class="fas  fa-dollar-sign text-white"></i>
                    </div>
                    <div class="mt-n1">
                        <h4>Budget
                        </h4>
                        <p class="m-0">Tous les prix sont définis à l’avance sans surprise. Nous assurons un bon rapport qualité/prix.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-5" style="min-height: 500px;">
                <div class="position-relative h-100">

                    <img class="position-absolute w-100 h-100" src="{% static 'img/feature.jpg' %}" style="object-fit: cover;">

                    <img class="position-absolute w-100 h-100" src="{% static 'img/nous-choisir1.jpg' %}" style="object-fit: cover;">

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Feature Start -->


<!-- Courses Start -->
<div class="container-fluid px-0 py-5">
    <div class="row mx-0 justify-content-center pt-5">
        <div class="col-lg-6">
            <div class="section-title text-center position-relative mb-4">
                <h6 class="d-inline-block position-relative service-title text-secondary text-uppercase pb-2">Nos Services</h6>

                <h1 class="display-4" id ="services">Services en vedette</h1>

            </div>
        </div>
    </div>
    <div class="owl-carousel courses-carousel">
        <div class="courses-item position-relative">
            <img class="img-fluid" src="{%  static 'img/dev-apps.webp' %}" alt="">
            <div class="courses-text">
                <h4 class="text-center text-white px-3">Développement d'applications</h4>
                <div class="w-100 bg-white text-center p-4" >
                    <a class="btn btn-primary" href="{% url 'devApplication' %}">Détails</a>
                </div>
            </div>
        </div>
        <div class="courses-item position-relative">
            <img class="img-fluid" src="{% static 'img/ia-auto.jpg' %}" alt="">
            <div class="courses-text">
                <h4 class="text-center text-white px-3">Automatisation des  Systemes avec IA</h4>
                <div class="w-100 bg-white text-center p-4" >
                    <a class="btn btn-primary" href="{% url 'automatisationIa' %}">Détails</a>
                </div>
            </div>
        </div>
        <div class="courses-item position-relative">
            <img class="img-fluid" src="{% static 'img/web-design-multimedia.jpg' %}" alt="">
            <div class="courses-text">
                <h4 class="text-center text-white px-3">Web design & Multimédia</h4>
                <div class="w-100 bg-white text-center p-4" >
                    <a class="btn btn-primary" href="{% url 'webDesignMultimedia' %}">Détails</a>
                </div>
            </div>
        </div>
        <div class="courses-item position-relative">
            <img class="img-fluid" src="{% static 'img/community-management.jpg' %}" alt="">
            <div class="courses-text">
                <h4 class="text-center text-white px-3">Community Management</h4>
                <div class="w-100 bg-white text-center p-4" >
                    <a class="btn btn-primary" href="{% url 'communityManagement' %}">Détails</a>
                </div>
            </div>
        </div>
        <div class="courses-item position-relative">
            <img class="img-fluid" src="{% static 'img/maintenances.jpg' %}" alt="">
            <div class="courses-text">
                <h4 class="text-center text-white px-3">Maintenance Et installations des logiciels</h4>
                <div class="w-100 bg-white text-center p-4" >
                    <a class="btn btn-primary" href="{% url 'maintenance' %}"> Détails</a>
                </div>
            </div>
        </div>
        <div class="courses-item position-relative">
            <img class="img-fluid" src="{% static 'img/taches-auto.jpg' %}" alt="">
            <div class="courses-text">
                <h4 class="text-center text-white px-3">Automatisation des tâches</h4>
                <div class="w-100 bg-white text-center p-4" >
                    <a class="btn btn-primary" href="{% url 'automatisationTache' %}">Détails</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center bg-image mx-0 mb-5">
        <div class="col-lg-6 py-5">
            <div class="bg-white p-5 my-5">
                <h1 class="text-center mb-4">Demander un devis</h1>
                <form>
                    <div class="form-row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="text" class="form-control bg-light border-0" placeholder="Votre nom" style="padding: 30px 20px;">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="email" class="form-control bg-light border-0" placeholder="Votre adresse email" style="padding: 30px 20px;">
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <select class="custom-select bg-light border-0 px-3" style="height: 60px;">
                                    <option selected>Sélectionner un service</option>
                                    <option value="1">Developpment d'applications</option>
                                    <option value="2">Community management</option>
                                    <option value="3">Web Design & Multimédia</option>
                                    <option value="3">Maintenance & installation des logiciels</option>
                                    <option value="3">Automatisation des tâches </option>
                                    <option value="3">Automatisation des systèmes avec IA</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <button class="btn btn-primary btn-block" type="submit" style="height: 60px;">Envoyer</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Courses End -->

<!-- Team Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Equipe</h6>
            <h1 class="mb-5">Notre Equipe</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="{% static 'img/prince.jpg' %}" alt="">
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                        <div class="bg-light d-flex justify-content-center pt-2 px-1">
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="text-center team-text p-4"  id="cadre">
                        <h5 class="mb-0" id="nom">Prince Parfait AGLAGO</h5>
                        <small>Developpeur Full Stack & Mécanicien</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="{% static 'img/gedeon.jpg' %}" alt="">
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                        <div class="bg-light d-flex justify-content-center pt-2 px-1">
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="text-center team-text p-4" id="cadre">
                        <h5 class="mb-0" id="nom">Kofi Gédéon Godway HOUNKPATI</h5>
                        <small>Ingénieur Logiciel</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="{% static 'img/jules.jpg' %}" alt="">
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                        <div class="bg-light d-flex justify-content-center pt-2 px-1">
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="text-center team-text p-4" id="cadre">
                        <h5 class="mb-0" id="nom">Messanh Jules FOLLYKOE</h5>
                        <small>Ingénieur Logiciel</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="{% static 'img/team-4.jpg' %}" alt="">
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                        <div class="bg-light d-flex justify-content-center pt-2 px-1">
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="text-center team-text p-4" id="cadre">
                        <h5 class="mb-0" id="nom">Kokou Shalom GBEKOU</h5>
                        <small>Dévelloppeur Full Stack</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-4 mt-4">
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="{% static 'img/team-3.jpg' %}" alt="">
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                        <div class="bg-light d-flex justify-content-center pt-2 px-1">
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="text-center team-text p-4" id="cadre">
                        <h5 class="mb-0" id="nom">Benjamin Kany ALLODE</h5>
                        <small>Developpeur Full Stack & DBA Jr</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="{% static 'img/cyrillee.jpg' %}" alt="">
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                        <div class="bg-light d-flex justify-content-center pt-2 px-1">
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="text-center team-text p-4" id="cadre">
                        <h5 class="mb-0" id="nom">Komlan Cyrille ATSOU-AKPOTO</h5>
                        <small>Web Designer</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="{% static 'img/josuee.jpg' %}" alt="">
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                        <div class="bg-light d-flex justify-content-center pt-2 px-1">
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="text-center team-text p-4" id="cadre">
                        <h5 class="mb-0" id="nom">Kossivi Mawuli Josué KOMADAN</h5>
                        <small>Web Designer</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="{% static 'img/sandrine.jpg' %}" alt="">
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                        <div class="bg-light d-flex justify-content-center pt-2 px-1">
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="text-center team-text p-4" id="cadre">
                        <h5 class="mb-0" id="nom">Mazama-Esso Sandrine TCHAMIE</h5>
                        <small>Journaliste</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team End -->


<!-- Testimonial Start -->
<div class="container-fluid bg-image py-5" style="margin: 90px 0;">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-lg-5 mb-5 mb-lg-0">
                <div class="section-title position-relative mb-4">
                    <h6 class="d-inline-block position-relative  temoignage-title text-secondary text-uppercase pb-2">Témoignages</h6>
                    <h1 class="display-4">Ce que les clients disent de nous</h1>
                </div>
                <p class="m-0">Leurs mots valent mille éloges. Découvrez les retours authentiques de ceux qui nous ont fait confiance.
                    Chaque témoignage raconte une histoire unique - celle d'une collaboration réussie, d'un défi relevé ensemble,
                    et d'une satisfaction partagée. Ces voix sont notre plus belle récompense.</p>
            </div>
            <div class="col-lg-7">
                <div class="owl-carousel testimonial-carousel">
                    <div class="bg-white p-5">
                        <i class="fa fa-3x fa-quote-left  temoignage-cote mb-4"></i>
                        <p> Collaborer avec MiabeInnovation a été une expérience très positive. Leur dynamisme, leur créativité et leur compréhension de nos besoins marketing ont largement dépassé nos attentes. Leur accompagnement a vraiment apporté une valeur ajoutée à nos projets.</p>
                        <div class="d-flex flex-shrink-0 align-items-center mt-4">
                            <div>
                                <h5>Marie</h5>
                                <span>Responsable marketing</span>
                            </div>
                        </div>
                    </div>
                    <div class="bg-white p-5">
                        <i class="fa fa-3x fa-quote-left temoignage-cote mb-4"></i>
                        <p>Travailler avec MiabeInnovation a été une excellente décision pour notre entreprise. Leur expertise technique, leur réactivité et leur créativité ont permis de concrétiser nos projets numériques avec succès. C’est une équipe sérieuse et engagée, que je recommande sans hésitation.</p>
                        <div class="d-flex flex-shrink-0 align-items-center mt-4">
                            <div>
                                <h5>Thomas </h5>
                                <span>Directeur d'Entreprise</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial Start -->


<!-- Contact Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-lg-5 mb-5 mb-lg-0">
                <div class="bg-light d-flex flex-column justify-content-center px-5" style="height: 450px;">
                    <div class="d-flex align-items-center mb-5">
                        <div class="btn-icon bg-primary mr-4">
                            <i class="fa fa-2x fa-map-marker-alt text-white"></i>
                        </div>
                        <div class="mt-n1">
                            <h4>Notre Adresse</h4>
                            <p class="m-0"> Lomé, TOGO</p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center mb-5">
                        <div class="btn-icon bg-secondary mr-4">
                            <i class="fa fa-2x fa-phone-alt text-white"></i>
                        </div>
                        <div class="mt-n1">
                            <h4>Nous Contacter</h4>
                            <p class="m-0">(+228) 93473496 / 99682745</p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        <div class="btn-icon bg-warning mr-4">
                            <i class="fa fa-2x fa-envelope text-white"></i>
                        </div>
                        <div class="mt-n1">
                            <h4>Joignez-nous</h4>
                            <p class="m-0">info@miabeinnovation.com</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="section-title position-relative mb-4">
                    <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">VOUS AVEZ UN PROJET EN TÊTE ?</h6>
                    <h1 class="display-4">Envoyez nous un message</h1>
                </div>
                <div class="contact-form">
                    <form>
                        <div class="row">
                            <div class="col-6 form-group">
                                <input type="text" class="form-control border-top-0 border-right-0 border-left-0 p-0" placeholder="Votre Nom" required="required">
                            </div>
                            <div class="col-6 form-group">
                                <input type="email" class="form-control border-top-0 border-right-0 border-left-0 p-0" placeholder="Votre Mail" required="required">
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control border-top-0 border-right-0 border-left-0 p-0" placeholder="Objet" required="required">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control border-top-0 border-right-0 border-left-0 p-0" rows="5" placeholder="Message" required="required"></textarea>
                        </div>
                        <div>
                            <button class="btn btn-primary py-3 px-5" type="submit">Soumettre</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->
{% endblock %}
