{% load static %}
<!-- Footer Start -->
<div class="container-fluid position-relative overlay-top bg-dark text-white-50 py-5" style="margin-top: 90px;">
    <div class="container mt-5 pt-5">
        <div class="row">
            <div class="col-md-6 mb-5">
                <a href="#" class="navbar-brand">
                    <img src="{% static 'img/footer-logo.png' %}" class="img-fluid" style="width: 200px;" alt="logo de MiabeInnovation">
                </a>
                <p class="m-0">MiabeInnovation est une référence d’un panel large de services numériques de premier plan. Notre ambition est de mettre notre expertise à profit pour atteindre les objectifs de nos clients.</p>
            </div>
            <div class="col-md-6 mb-5">
                <h3 class="text-white mb-4">Newsletter</h3>
                <div class="w-100">
                    <div class="input-group">
                        <input type="text" class="form-control border-light" style="padding: 30px;" placeholder="Votre Adresse E-mail">
                        <div class="input-group-append">
                            <button class="btn btn-primary px-4">S'inscrire</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-5">
                <h3 class="text-white mb-4">Contactez-nous</h3>
                <p><i class="fa fa-map-marker-alt mr-2"></i> Lomé, TOGO</p>
                <p><i class="fa fa-phone-alt mr-2"></i>++228 93473496/ +228 99682745</p>
                <p><i class="fa fa-envelope mr-2"></i>info@miabeinnovation.com</p>
                <div class="d-flex justify-content-start mt-4">
                    <a class="text-white mr-4" href="https://x.com/miabeinnovation"><i class="fab fa-2x fa-twitter"></i></a>
                    <a class="text-white mr-4" href="https://www.facebook.com/profile.php?id=61575632420279"><i class="fab fa-2x fa-facebook-f"></i></a>
                    <a class="text-white mr-4" href="https://www.linkedin.com/in/miab%C3%A9-innovation-941139360/"><i class="fab fa-2x fa-linkedin-in"></i></a>
                    <a class="text-white mr-4" href="https://www.instagram.com/miabeinnovation/"><i class="fab fa-2x fa-instagram"></i></a>
                    <a class="text-white mr-4" href="https://www.youtube.com/@Miabeinnovation"><i class="fab fa-2x fa-youtube"></i></a>
                    <a class="text-white mr-4" href="https://www.tiktok.com/@miabeinnovation"><i class="fab fa-2x fa-tiktok"></i></a>

                </div>
            </div>
            <div class="col-md-4 mb-5">
                <h3 class="text-white mb-4">Nos Services</h3>
                <div class="d-flex flex-column justify-content-start">
                    <a class="text-white-50 mb-2" href="{% url 'devApplication' %}"><i class="fa fa-angle-right mr-2"></i>Développement d'Applications</a>
                    <a class="text-white-50 mb-2" href="{% url 'communityManagement' %}"><i class="fa fa-angle-right mr-2"></i>Community Management</a>
                    <a class="text-white-50 mb-2" href="{% url 'webDesignMultimedia' %}"><i class="fa fa-angle-right mr-2"></i>Web Design & Multimédia</a>
                    <a class="text-white-50 mb-2" href="{% url 'maintenance' %}"><i class="fa fa-angle-right mr-2"></i>Maintenance & Installations Logicielles</a>
                    <a class="text-white-50" href="{% url 'automatisationIa' %}"><i class="fa fa-angle-right mr-2"></i>Automatisation des Systèmes avec IA</a>
                    <a class="text-white-50 mb-2" href="{% url 'automatisationTache' %}"><i class="fa fa-angle-right mr-2"></i>Automatisation des Tâches </a>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <h3 class="text-white mb-4">Entreprise</h3>
                <div class="d-flex flex-column justify-content-start">
                    <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Accueil</a>
                    <a class="text-white-50 mb-2" href="{% url 'qui_sommes_nous' %}"><i class="fa fa-angle-right mr-2"></i>Qui sommes-nous ?</a>
                    <a class="text-white-50 mb-2" href="{% url 'equipe' %}"><i class="fa fa-angle-right mr-2"></i>Equipe</a>
                    <a class="text-white-50 mb-2" href="{% url 'entree_contact' %}"><i class="fa fa-angle-right mr-2"></i>Contact</a>
                    <a class="text-white-50" href="{% url 'faqs' %}"><i class="fa fa-angle-right mr-2"></i>FAQ</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-dark text-white-50 border-top py-4" style="border-color: rgba(256, 256, 256, .1) !important;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-3 mb-md-0">
                <p class="m-0">Copyright &copy; <a class="text-white" href="#">2025 MiabeInnovation</a>. Tous droits réservés.</p>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->
